body{
    min-width: 320px;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #626262;
}

a{
    color: #b4ad9e;
}

a:hover{
    color: #898377;
}

header .navbar-light{
    background-color: #fff;
}

header .navbar-brand{
    font-family: 'Courier New', Courier, monospace;
    font-size: 30px;
    color: #000;
    text-transform: uppercase;
}

header .nav-item{
    text-transform: uppercase;
    margin-left: 50px;
}

header .nav-item ::after{
    content: "";
    display: block;
    width: 100%;
    background-color: #ccc;
    height: 1px;
    transform: scale(0);
    transition: all .3s;
}

header .nav-item ::after{
    transform: scale(1);
}


.card{
    margin-bottom: 100px;
}

.card-2{
    display: flex;
}














